<div class="min-h-screen flex justify-center items-center bg-gray-50 p-4">

  <div class="w-full max-w-md bg-[#1a1d2e] rounded-2xl shadow-2xl p-8 animate-fade-in">

    <div class="flex flex-col items-center mb-6">
      <div class=" p-3 rounded-xl shadow-md mb-4">
        <img src="/assets/img/logo.png" alt="Logo" width="120" height="120" class="block">
      </div>
      <h2 class="text-white text-2xl font-bold tracking-wide">Bienvenido</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <mat-form-field appearance="fill" class="w-full mb-2 bg-white rounded-t-md overflow-hidden">
        <mat-label>Nombre del usuario</mat-label>
        <input matInput placeholder="Ej. Admin01" formControlName="username">
        <mat-icon matSuffix class="text-gray-500">person</mat-icon>
        <mat-error>Campo obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full mb-6 bg-white rounded-t-md overflow-hidden">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" placeholder="******" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)">
          <mat-icon class="text-gray-500">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Campo obligatorio</mat-error>
      </mat-form-field>

      <button type="submit"
              mat-raised-button
              class="w-full !py-6 !text-base !font-bold !rounded-lg !bg-indigo-500 !text-white shadow-lg hover:!bg-indigo-400 transition-colors"
              [disabled]="loginForm.invalid || isLoading()">

        @if(isLoading()) {
          <div class="flex justify-center items-center gap-2">
            <mat-spinner diameter="20" class="custom-spinner-white"></mat-spinner>
            <span>Ingresando...</span>
          </div>
        } @else {
          <div class="flex justify-center items-center gap-2">
            <mat-icon>login</mat-icon>
            <span>INGRESAR</span>
          </div>
        }
      </button>

    </form>



  </div>
</div>
