<div class="h-screen flex flex-col">
  <mat-toolbar color="primary" class="flex justify-between items-center">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="flex-1 h-full">
    <mat-sidenav #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="64"
      class="custom-sidenav"
      [ngClass]="{'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme}">
      <!-- <div
        class="flex flex-col items-center py-10 px-3">
        <mat-icon
          class="w-100 h-100 rounded-full">account_circle</mat-icon>
        <div class="font-semibold text-white text-lg">Brian Hughes
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="border-4 border-black"></div> -->

      <!-- Menu items -->
      <div class="flex-1 overflow-y-auto px-2 pt-4">
        <!-- Example: Main section title -->
        @for (nav of fillerNav; track nav) {
        @if (!nav.items || nav.items.length === 0) {
        <mat-list-item [routerLink]="nav.router"
          (click)="snav.toggle()"
          class="custom-list-item"
          [ngClass]="{'active-link': isActive(nav.router)}">
          <mat-icon matListItemIcon>{{nav.icon}}</mat-icon>
          {{nav.name}}
        </mat-list-item>
        }
        @if (nav.items && nav.items.length > 0) {
        <mat-expansion-panel class="custom-expansion-panel">
          <mat-expansion-panel-header class="custom-expansion-header">
            <mat-panel-title>
              <mat-icon matListItemIcon>{{nav.icon}}</mat-icon>
              <span class="ml-2 text-white">{{nav.name}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          @for (item of nav.items; track item) {
          <mat-list-item [routerLink]="item.router"
            (click)="snav.toggle()"
            class="custom-list-item"
            [ngClass]="{'active-link': isActive(item.router)}">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            {{item.name}}
          </mat-list-item>
          }
        </mat-expansion-panel>
        }
        }
      </div>
      <div class="mt-auto mb-4 px-4">
        <div class="border-1 border-gray-600 mb-4"></div>
        <mat-list-item (click)="onLogout()"
          class="rounded-lg px-3 py-2">
          <mat-icon matListItemIcon>logout</mat-icon>
          Cerrar Sesión
        </mat-list-item>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="p-4">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>